html {
  background-color: rgb(38, 44, 88);
}

.adventure-title {
  font-size: 45px;
  font-family: Inter;
  color:#ffde5b;
}

.start-button {
  background-color: #90bcca;
  font-size: 20px;
  font-family: Inter;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50px;
  margin-top: 50px;
}

.start-button:hover {
  background-color: #5c8b9a;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}